/*background CSS*/

.gradient {
	height: 100%;
	background-position: fixed !important;
}

#background {
	background-image: url(img/congruent_outline.svg);
	background-position: center;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
