// TO START SERVER TO USE LESS

// then, as above, cd into dir containing your some.html and issue :

//   http-server -c-1

// which spins up a nodejs httpd which does a dir listing of 
// your static files visible from :

//   http://localhost:8080 


/* Variables */

@OGbg: #333;
@bgcolor: @OGbg - #111;
@text-color: whitesmoke;

@header-height: 50px;

/* LESS CSS */

// FONTS

@font-face {
    font-family: harabara;
    src: url(font/Harabara.ttf);
}

// background gradient and svg

html {
  // -webkit-transform: translate3d(0, 0, 0);
  // -moz-transform: translate3d(0, 0, 0);
  // transform: translate3d(0, 0, 0);
}

body {
  overflow-x: hidden;
  margin: 0;
  color: @text-color;
}

.gradient {
  background-attachment: fixed !important;
  margin: 0;
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    height: 1200px;
}

#background {
  background-image: url(img/congruent_outline.svg);
  background-attachment: fixed;
  position: absolute;
    background-repeat: repeat;
  padding-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  // background-color: rgba(255, 255, 255, 0.5)
}

// General CSS

h1, h2 {
  color: @text-color;
  font-family: harabara;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 0;
}

img.desaturate { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

// main nav

header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;

  .navbar {
    border-radius: 0;
    background-color: @bgcolor;
    border: none;
    border-bottom: 1px solid whitesmoke;
    font-family: harabara;

    a {
      // color: @text-color !important;
      font-size: 1.8em;
    }

    a:hover {
      color: tomato !important;
      transition: color 0.25s ease-in-out 0;
      cursor: pointer;
      cursor: hand;
    }

    .brand {
      padding-top: 2px;
    }
    
    .navbar-right {
      min-width: 600px;
    }

    .social-media {
      height: 50px;
      padding-left: 10px;
    }

    .social-media a {
      padding: 0;
    }

    .social-media img {
      height: 45px;
    }
  }
}

// main content

#main-wrapper {
  // height: 1000px;
  width: 80%;
  margin: 0 auto;
}


.feature-img-wrapper {
  width: 100%;
  margin: @header-height auto 20px auto;
  padding: 1% 0;
  background-color: @bgcolor;
  .feature-img {
    padding: 0;
    margin: 0 auto;
    width: 98%;
    display: block;
    // position: absolute;
  }
  h1 {
    margin: 0 0 0 20%;
    display: none;
    font-size: 4.5vw;
    height: 40%;
    position: absolute;
    z-index: 9;
  }
}



#left-colomn {
  float: left;
  position: relative;
  display: inline-block;
  width: 56%;
  padding: 1%;
  margin-right: 2%;
  min-height: 500px;
  background-color: @bgcolor;
  font-family: century gothic;
  margin-bottom: 20px;
}

#right-colomn {
  float: right;
  position: relative;
  display: inline-block;
  padding: 1%;
  width: 42%;
  min-height: 500px;
  background-color: @bgcolor;
  font-family: georgia;
  margin-bottom: 20px;
  margin-top: 0;
}

#right-colomn.fixed {
  position: fixed !important;
  top: 14%;
  right: 10%;
  width: 33.6%;
}

#right-colomn.fixed-bottom {
  position: absolute !important;
  right: 10%;
  width: 33.6%;
}

// Sections


#band {
  text-align: center;

  .bandmate {
    padding: 20px 0;

    img {
      width: 80%;
      margin: 0 auto;
      display: block;
    }

    p {
      margin-bottom: 0;
    }
  }
}

#show {

  .show-listing:nth-child(2n) {  
    background-color: #ccc;
}

  .show-listing {
    background-color: tomato;
    width:100%;
    height: 85px;
    margin: 7px 0;

    .when {
      background-color: whitesmoke;
      -webkit-box-shadow: 10px 0 5px -2px #888;
      box-shadow: 4px 0 10px -2px #888;
      float: left;
      width: 25%;
      height: 100%;
      color: #222;
      text-align: center;
      padding: 2px 0;

      span {
        vertical-align: middle;
        display: block;
        width: 50%
      }

      .day {
        float: left;
        height: 100%;
        font-size: 56px;
        text-align: right;
        border-right: solid 3px #999;
      }

      .month {
        font-size: 32px;
        float: right;
      }

      .year {
        font-size: 20px;
        float: right;

      }
    }

    .where {
      width: 75%;
      float: left;
      height: 100%;
      color: #222;
      text-align: center;
      padding: 5px 0;

      h3 {
        margin: 0;
        font-size: 34px;
      }

      h4 {
        margin: 0;
        font-size: 20px;
      }
    }
  }
}

// Footer

footer {
  background-color: @bgcolor;
  display: block;
  position: relative;
  clear: both;
  border-top: 1px solid whitesmoke;
  padding-top: 5px;
  overflow-y: hidden;

  .ftsec {
    width: 30%;
    margin: 0 1.5%;
    display: inline-block;
    height: 100%;
  }
}
.ftsm {
  height: 70px;
  background-color: #111;

  .center {
    text-align: center;
    padding-top: 15px;
  }
}

// Forms and Buttons

form {
  .input {
    background: whitesmoke;
    color: grey;
    width: 50%
  }
}

.ccformfield {
  margin: 10px 0%;
  width: 100%;
  border: solid 1px @bgcolor;
  border-radius: 5px;

  &:hover {
    -moz-box-shadow:    inset 0 0 15px teal;
    -webkit-box-shadow: inset 0 0 15px teal;
    box-shadow:         inset 0 0 15px teal;
    transition: all 0.25s ease-in-out 0;
  }

  &:focus {
    -moz-box-shadow:    inset 0 0 15px teal;
    -webkit-box-shadow: inset 0 0 15px teal;
    box-shadow:         inset 0 0 15px teal;
    transition: all 0.25s ease-in-out 0;
  }
}

.ccbtn {
  background-color: @bgcolor;
}

.ccfield-prepend {
  text-align: center;
  margin: 0 5%;
}

// Responsive design for main navigation

@media screen and (max-width: 768px) {
  .navbar {
    text-align: center;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .navbar-right {
    min-width: 100% !important;
  }
  
  .social-media {
    width: 50px;
    display: inline-block !important;
  }
  
  #main-wrapper {
    width: 90%;
  }

  .brand {
    margin-left: 0 !important;
  }
}

// Responsive design for column break point

@media screen and (max-width: 650px) {
  #left-colomn {
    float: none;
    width: 100%;
    // padding: 0;
    margin-right: 0;
  }

  #right-colomn {
      float: none;
      // padding: 0;
      width: 100%;
    }

    .ftsec {
      width: 100% !important;
      text-align: center;
      margin: 10px 0 !important;
    }

}

// Responsive design for content sections

@media screen and (max-width: 1100px) {

  .show-listing {
    background-color: white;
    width:100%;
    height: 85px;
    margin: 7px 0;

    .when {
      background-color: whitesmoke;
      width: 25%;
      float: left;
      height: 100%;
      color: #222;
      text-align: center;
      padding: 2px 0;

      span {
        width: 100% !important;
      }

      .day {
        height: auto !important;
        font-size: 24px !important;
        text-align: center !important;
        border: none !important;
      }

      .month {
        font-size: 20px !important;
      }

      .year {
        font-size: 16px !important;
      }
    }
  }
}